.botao-wpp {
    text-decoration: none;
    color: #eee;
    display: inline-block;
    background-color: #25d366;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 3px;
  }
  
  .botao-wpp:hover {
    background-color: darken(#25d366, 5%);
  }
  
  .botao-wpp:focus {
    background-color: darken(#25d366, 15%);
  }